  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

html,body{
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif!important;
  background: linear-gradient(180deg, #13161c,#3f7c8f);
  overflow-x: hidden;
}

.about{
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  animation: ease-out slideLeftToRight .5s;
}

@keyframes slideLeftToRight{
  0%{
    transform: translate(30%);
    opacity: 0;
  }
  100%{
    transform: translate(0%);
    opacity: 1;
  }
}

.about{
  display: block;
}

header{
  padding: 1em 1em;
  display: block;
  text-align: center;
  box-shadow: 0 0 50px #062b3b ;
}

header h1{
  font-family: unica one;
  font-size: 5em;
  letter-spacing: .3em;
  margin: 0;
  padding: .5em 0;
}

header h3{
  padding: .2em 0;
  font-size: 2em;
  padding: 0;
  margin: 0;
}

header p{
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}
header h1, h3, p{
  color: #96d2e3;
}

#lahat{
  display: flex;
  margin: 2em 2em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.cards{
  text-align: center;
  margin: auto;
}
.cards p{
  font-size: 1.3em;
  margin: 1em 0;
  color:#edfffe;
}
img{
  width: 15em;
  height: 15em;
  object-fit: fill;
  object-position: center;
  border-radius: 50%;
}
