html, body{
  padding: 0;
  margin: 0;
  margin-bottom: 7em;
}

#chartContainer{
  margin: auto;
  width: 75%;
}

#disk-menu{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  width: 3.5rem;
  display: inline;
  text-align: center;
}

.block-paragraph{
  display: block;
  margin-top: 1rem;
}

.mr-sm-2{
  margin-right: 0!important;

}

.btn{
  margin: .3rem;
}

.jumbotron{
  background-color: red;
}

.form-group{
  width: 50%;
}

.form-div{
  display: flex;
  justify-content: space-around;
}

.form-btn-margin{
  margin-top: 2rem;
}

#seekTime{
  text-align: center;
}
