@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

html, body {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif !important;
  background: linear-gradient(180deg, #13161c, #3f7c8f);
  overflow-x: hidden;
  color: #e0e0e0;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

body {
  animation: ease-out slideLeftToRight .5s;
}

@keyframes slideLeftToRight {
  0% {
    transform: translate(30%);
    opacity: 0;
  }

  100% {
    transform: translate(0%);
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.dev {
  position: relative;
  bottom: 10%;
  opacity: 0;
}

.dev h1 {
  font-family: 'Unica one', sans-serif;
  font-size: 5em;
  color: #4bb0b3;
  margin: 5% 0;
  padding: .7em 0em;
  letter-spacing: .4em;
  text-align: center;
  box-shadow: 0 0 10px #99e6e8;
  transition: ease .5s;
}

#lahat {
  display: flex;
  margin-bottom: 2em;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  opacity: 0;
  margin: 0 17%;
}

.cards:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
}

.description {
  opacity: 0;
  padding: 1.5em;
  margin: 3em 1em;
  justify-content: center;
}

.description h1 {
  font-size: 1.7em;
}

.description p {
  font-size: 1.2em;
}

.description p, .description h1 {
  color: #edfffe;
  display: block;
  padding: 0;
}

.pic {
  width: 15em;
  height: 15em;
  object-fit: fill;
  border-radius: 50%;
  box-shadow: 0 0 25px #99e6e8;
}

@media (max-width: 700px) {
  .cards, .cards:nth-child(even){
    flex-direction: column;
    text-align: center;
  }

  .pic {
    margin: auto;
  }

  .dev h1 {
    font-size: 3em;
    color: #4bb0b3;
    letter-spacing: .4em;
    text-align: center;
  }
}
