@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

html, body {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif !important;
  background: linear-gradient(180deg, #13161c, #3f7c8f);
  overflow-x: hidden;
  color: #e0e0e0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

body{
  animation: ease-out slideLeftToRight .5s;
}

@keyframes slideLeftToRight {
  0% {
    transform: translate(30%);
    opacity: 0;
  }

  100% {
    transform: translate(0%);
    opacity: 1;
  }
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.dev {
  border: 2px solid black;
  color: #4bb0b3;
  font-family: unica one;
  font-size: 3em;
  margin: 1em 0;
  padding: 1em 0;
  letter-spacing: .4em;
  position: flex;
  text-align: center;
  box-shadow: 0 0 10px #99e6e8;
}

#lahat {
  border: 2px solid black;
  display: flex;
  margin-bottom: 2em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  text-align: center;
  margin: auto;
}

.cards p {
  font-size: 1.3em;
  margin: 1em 0;
  color: #edfffe;
}

.pic{
  width: 15em;
  height: 15em;
  object-fit: fill;
  object-position: center;
  border-radius: 50%;
}
