@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

html, body {
  padding: 0;
  margin: 0;
  background: linear-gradient(180deg, #222222,#222222,#3f7c8f);
  color: white !important;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

#chartContainer {
  margin: auto;
  padding-bottom: 5.7em;
  width: 75%;
}

#disk-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  width: 3.5rem;
  display: inline;
  text-align: center;
  background-color: transparent !important;
  border: 1px solid #007dfa;
  color: inherit !important;
}

input[type=number]:disabled {
  opacity: .5;
}

input[type=number]:focus, select:active, select:focus {
  border-color:#26aed4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

.custom-select {
  background-color: transparent !important;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='gray' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") !important;
  color: #E8EAED !important;
}

#seekTime {
  text-align: center;
}

.jumbotron {
  background-color: #303034 !important;
}

option {
  background-color: #333333;
  color: white;
}

option:disabled {
  color: rgba(255, 255, 255, .3);
}

.block-paragraph {
  display: block;
  margin-top: 1rem;
}

.mr-sm-2 {
  margin-right: 0 !important;
  color: #9adde3;
}

.btn {
  margin: .3rem;
}

.form-group {
  width: fit-content;
}

.form-div {
  display: flex;
  justify-content: space-around;
}

.form-btn-margin {
  margin-top: 2rem;
}

#addButton:hover{
  background-color: #26aed4;
  transition: ease-in .5s
}

.margin-anjo {
  margin: auto 10px;
}

.toast {
  width: 360px !important;
}

.modal-content {
  background-color: #333333 !important;
}

.btn-close {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='gray'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") !important;
}

.modal-header, .modal-footer {
  border: transparent !important;
}

.wave{
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  padding-top: 3em;
  background: #3f7c8f;
  color: #222222;
}
.wave h2{
  text-align: center;
  font-size: 4em;
  color: #99e6e8;
}
.wave p{
  text-align:center;
  color: #99e6e8;
  margin: 0 1em;
}
#header-with-wave{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background: #3f7c8f;
  font-family: poppins;
}

#header-with-wave h1{
  background: linear-gradient(to right, #00ffff, #ff00ff, #ffff00, #ffffff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.choice{
  font-weight: bolder;
  font-size: .8em;
  text-decoration: none;
  color: #222222;
}
.choice:hover{
  color: #99e6e8;
  transition: ease-in .3s;
}

#taas{
  list-style: none;
}

#taas li{
  font-size: 1.5em;
  letter-spacing: .2em;
  display: inline-block;
  margin: 0 1em;
}
