@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&display=swap');

.navbar{
.navbar {
  position: relative !important;
}

.navbar-index {
  opacity: 0;
  position: absolute !important;
}

.navbar-about {
  opacity: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 2em;
  margin: 0em 1em;
  height: 91px;
  width: 100vw;
  z-index: 2;
}

.brand, .brand-algo {
  width: max-content;
  font-size: 30px;
  padding: 7px 10px;
  -webkit-text-fill-color: #e0e0e0;
  -webkit-background-clip: text;
  display: inline-flex;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.brand-algo {
  -webkit-text-fill-color: #222222;
}

#navbar-logo {
  filter: invert(85%) sepia(5%) saturate(6%) hue-rotate(61deg) brightness(600%) contrast(89%);
}

#navbar-logo-algo {
  filter: invert(85%) sepia(36%) saturate(21%) hue-rotate(338deg) brightness(50%) contrast(89%);
}

.bg-dark {
  background-color: transparent !important;
}

.dropdown-bg {
  background-color: #13161c !important;
}

.dropdown-menu {
  border: 1px solid rgba(63, 124, 143, .5);
}

.dropdown-item {
  color: #3f7c8f;
}

.nav-link {
  font-weight: bolder;
  margin: 0 30px;
  font-size: 1.2em;
  letter-spacing: 3px;
  text-decoration: none;
  color: #4bb0b3 !important;
  transition: ease-in .3s;
}

.disk-nav {
  color: #222222 !important;
}

.wave {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  background: #3f7c8f;
  color: #222222;
  margin-bottom: 5em;
}

.wave h2 {
  margin-top: .7em;
  text-align: center;
  font-size: 4em;
  color: #99e6e8;
}

.wave p {
  text-align: center;
  color: #99e6e8;
  margin: auto;
  margin-top: 1em;
  width: 80%;
}

@media (max-width: 999px) {
  nav {
    margin: 0;
    min-height: 91px;
    height: max-content;
  }

  .navbar {
    background-color: rgba(0, 0, 0, .2) !important;
    position: relative !important;
  }
}
