@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.navbar{
  position: relative!important;
}

.navbar-index{
  position: absolute!important;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 2em;
  margin: 0em 1em;
  height: 91px;
  width: 100vw;
  z-index: 2;
}

.brand{
  width: max-content;
  font-weight: bolder;
  font-size: 33px;
  background: linear-gradient(to right, #00ffff, #ff00ff, #ffff00, #ffffff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.bg-dark{
  background-color: transparent!important;
}

.dropdown-bg{
  background-color: #13161c!important;
}

.dropdown-menu{
  border: 1px solid rgba(63, 124, 143,.5);
}

.dropdown-item{
  color: #3f7c8f;
}

.nav-link{
  font-weight: bolder;
  margin: 0 30px;
  font-size: 1.2em!important;
  letter-spacing: 3px;
  text-decoration: none;
  color: #4bb0b3!important;
  transition: ease-in .3s;
}

.disk-nav{
  color: #222222!important;
}

.wave {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  background: #3f7c8f;
  color: #222222;
  margin-bottom: 5em;
}

.wave h2 {
  margin-top: .7em;
  text-align: center;
  font-size: 4em;
  color: #99e6e8;
}

.wave p {
  text-align: center;
  color: #99e6e8;
  margin: auto;
  margin-top: 1em;
  width: 80%;
}


@media (max-width: 999px) {
  nav{
    margin: 0;
    min-height: 91px;
    height: max-content;
  }

  .navbar{
    background-color: rgba(0,0,0,.2)!important;
    position: relative!important;
  }
}
