@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

html, body{
  padding: 0;
  margin: 0;
  margin-bottom: 7em;
  background-color: #222222!important;
  color: #E8EAED!important;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

#chartContainer{
  margin: auto;
  width: 75%;
}

#frame-menu{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=text] {
  -moz-appearance: textfield;
  width: 3.5rem;
  display: inline;
  text-align: center;
  background-color: transparent!important;
  border: 1px solid #28a745;
  color: inherit!important;
}

input[type=text]:disabled {
  opacity: .5;
}

input[type=text]:focus, select:active, select:focus {
  border-color: #28a745;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

.custom-select {
  background-color: transparent!important;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='gray' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") !important;
  color: #E8EAED!important;
}

#seekTime{
  text-align: center;
}

.jumbotron{
  background-color: #303030!important;
}

option{
  background-color: #333333;
  color: white;
}

option:disabled{
  color: rgba(255,255,255,.3);
}

.block-paragraph{
  display: block;
  margin-top: 1rem;
}

.mr-sm-2{
  margin-right: 0!important;

}

.btn{
  margin: .3rem;
}

.form-group{
  width: fit-content;
}

.form-div{
  display: flex;
  justify-content: space-around;
}

.form-btn-margin{
  margin-top: 2rem;
}

.margin-anjo{
  margin: auto 10px;
}

.toast{
  width: 360px!important;
}

.modal-content{
  background-color: #333333!important;
}

.btn-close{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='gray'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") !important;
}

.modal-header, .modal-footer{
  border: transparent!important;
}

table, th, td {

  border: 1px solid white;
  text-align: center;
  box-shadow: 0 0 1px #ffffff,
              0 0 1px #ffffff,
              0 0 1px #ffffff;
}

table{
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  height: 40px;
}

#fault-label, #hit-label{
  text-align: center;
  margin: 1em;
}

#table-string{
  margin-bottom: .7em;
}

#table-fault{
  margin-top: .7em;
}

header{
  display: flex;
  padding: .5em 10%;
  text-align: center;
}
header h1{
  font-size: 4em;
  letter-spacing: .1em;
}

#header-with-wave {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  padding-top: 5.5em;
  position: relative;
  background: #3f7c8f;
  color: #222222;
}
